# RK3326 (px30) uses the vendor Rockchip boot chain (see U-Boot docs
# "Package with Rockchip miniloader" and ROCKNIX rkhelper):
#   idbloader.img  at 32K   (DDR init blob + miniloader)
#   uboot.img      at 8M    (U-Boot proper, loaderimage format, load 0x200000)
#   trust.img      at 12M   (BL31, trust_merger format)
image __IMAGE_NAME__ {
	hdimage {
		partition-table-type = "gpt"
	}

	partition idbloader {
		in-partition-table = "no"
		image = "idbloader.img"
		offset = 32K
	}

	partition uboot {
		in-partition-table = "no"
		image = "uboot.img"
		offset = 8M
	}

	partition trust {
		in-partition-table = "no"
		image = "trust.img"
		offset = 12M
	}

	partition boot {
		partition-type-uuid = "EBD0A0A2-B9E5-4433-87C0-68B6B72699C7"
		bootable = "true"
		offset = 16M
		image = "userdata.vfat"
	}
}
